<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talagasoft.neraca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Jurnal" />
        <activity android:name=".Account" />
        <activity android:name=".AccountList" />
        <activity android:name=".Setting" />
        <activity android:name=".ReportList" />
        <activity android:name=".Backup" />
        <activity android:name=".MyInput" />
        <activity android:name=".MyInfo" />
        <activity android:name=".Reports" />
        <activity
            android:name=".JurnalListNew"
            android:label="@string/title_activity_jurnal_list_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".JurnalInputTemplate" />
        <activity android:name=".JurnalBiaya" />
        <activity android:name=".ReportAction" />
        <activity android:name=".ReportRugiLaba" />
        <activity android:name=".ReportNeraca" />
        <activity android:name=".ReportNeracaSaldo" />
        <activity android:name=".ReportKartuAkun" />
        <activity android:name=".ReportDaftarJurnal" />
        <activity android:name=".ReportDaftarAkun"
            android:label="Daftar Akun"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>